---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';

const maps = "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11331.550830923223!2d20.4274793!3d44.7627048!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a71272431809f%3A0xc945bb00e2788168!2sOld%20School%20BJJ!5e0!3m2!1ssr!2srs!4v1685751442557!5m2!1ssr!2srs"
---



<Layout>
 <Showcase showExtra={true} />
 <Features />
 <section class="page-content">
  <div class="container">
    <h2>Location</h2>
    {<p>
      
    <div class="iframe-corners">
    <iframe class="logos" src={maps} width="1158px" height="650" style="border:0;"/>
    <iframe class="logos-small" src={maps} width="360" height="360" style="border:0;"/>
    <iframe class="logosUltraSmall" src={maps} width="280" height="280" style="border:0;"/>
    </div>
    </p>}
  </div>
</section>
</Layout>

<style>

.index-text {
  max-width: 500px;
  color: #fff;
  text-align: center;
  margin: 50px auto;
}

.container {
  display: block;
  border: none;
  margin: 0;
  padding: 0;
  max-width: fit-content;
  color: #000000;
  text-align: center;
  margin: 10px auto;
}

.iframe-corners iframe {
  border-radius: 10px;
  margin: auto;
}

</style>