---
import Card from './Card.astro';

const featuresData = [
  {title: 'Classes', body: 'Tuesday & Thursday 18:30h, Saturday 12:00h'},
  {title: 'Fighting Experience', body: 'Everybody is welcome'},
  {title: 'Old School Kids', body: 'Contact: Nikola Simić +381659777557, Location: Bulevar Arsenija Čarnojevića 165'}
  ];
---

<section class="features">
  <div class="container">
    {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
  .features .container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
   padding: 0 20px;
   margin: 30px auto;
  }

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}
</style>