---
import Card from './Card.astro';

const featuresData = [
  {title: 'Classes', body: 'Monday 17:30, Tuesday & Thursday 18:30h, Saturday 12:00h'},
  {title: 'Fighting Experience', body: 'All levels, from beginners to advanced'},
  {title: 'Age', body: '16 years and up'},
  ];
---

<section class="features">
  <div class="container">
    {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
  .features .container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 20px;
   padding: 0 20px;
   margin: 30px auto;
  }

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}
</style>