<header class="header">
  <div class="container">
    <nav>
      <ul>
        <li><a href="https://www.instagram.com/oldschoolbjjbelgrade/">Instagram</a></li>
        <li><a href="https://www.facebook.com/">Facebook</a></li>
        <li><a href="https://www.tiktok.com/@oldschoolbjj">TikTok</a></li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header img {
  height: 35px;
  vertical-align: middle;
}

.header nav ul {
  display: flex;
}

.header nav ul li {
  padding: 0 20px;
}

.header nav ul li a {
  color: #fff;
}
</style>